{% extends 'base.html' %}
{% block body %}
    

<section >
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0 mt-5">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img
                                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                    alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div
                                    class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">Akimov Dmitriy</h3>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Position:</span>
                                        Future programmer Python</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Experience:</span>
                                        0.5 Year</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Email:</span>
                                        imka0012@gmail.com</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Website:</span>
                                        www.example.com</li>
                                    <li class="display-28"><span
                                            class="display-26 text-secondary me-2 font-weight-600">Phone:</span>
                                        +7 - 999 - 869 - 90 - **</li>
                                        <li class="display-28 mt-3"><span
                                            class="display-26 text-secondary me-2 font-weight-600">GitHub</span>
                                        https://github.com/Amarok00?tab=repositories</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div>
                    <span class="section-title text-white mb-3 mb-sm-4">About
                        Me</span>
                    <p class="text-light">Meet Dmitriy, an enthusiastic and dedicated novice Python programmer. Armed with a passion for calling, Dmitry has successfully dived into the world of Python and is constantly seeking ways to sharpen their skills and deepen their knowledge.</p>
                    <p class="mb-0 text-light">However, Dmitriy doesn't stop at personal growth; they also have a strong inclination towards teaching others. With their expertise in Python frameworks, including Django, Flask, and Fast API, Dmitry is committed to sharing their knowledge and empowering aspiring developers to master these invaluable tools.</p>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}